.venv/
venv/
__pycache__/
*.py[cod]
.gap/

results/*
!results/.gitkeep
!results/*.py

.vscode/

*sandbox*

data/random*.txt
data/*/random*.txt
data/*/non_lcc_css*.txt
*/*/*.log
data/*.py
results/conversion.py
results/extraction.py
results/visual*.py

.DS_Store

*tmp*
