.venv/
venv/
__pycache__/
*.py[cod]
.gap/

results/*
!results/.gitkeep
!results/*.py

.vscode/

*sandbox*

data/random*.txt
data/*/random*.txt
data/*/non_lcc_css*.txt
*/*/*.log
data/*.py
results/conversion.py
results/extraction.py
results/visual*.py

.DS_Store

*tmp*

playground/
paper/*
!paper/.gitignore
!paper/*.md
!paper/*.py
!paper/benchmarks/
!paper/experiments/
!paper/hybrids/
!paper/results/
!paper/tests/
!paper/visualizations/
